.section1, footer {
    background-color: #1F2937;
    color: #F9FAF8;    
}

.section1 {
    padding: 50px 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.right-nav {
    display: flex;
    gap: 24px;
}

.right-nav, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    display: flex;
    padding-top: 100px; 
    padding-bottom: 100px;   
    justify-content: space-between;
}

.sign-up2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
} 

.main-text {
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: #3882F6;
    padding: 5px 24px;
    border-color: #3882F6;
    border-radius: 8px;
    border-style: solid;
    color: #F9FAF8;
    font-weight: bold;
}

.section2 {
    display: flex;
    padding: 50px 100px 100px 100px;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.info-header {
    font-size: 36px; 
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 50px;
    padding-bottom: 0px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.thor-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.thor {
    text-align: end;
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    margin: 70px 100px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 300;
}

.call-button {
    border-color: #F9FAF8;
}   

figcaption {
    max-width: 180px;
}

body {
    margin: 0;
    font-family: Roboto;
}

footer {
    text-align: center;
    padding: 50px;
}